.menu{
    width: 100%;
    height: 35px;
    background-color: #212529;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}
.menu-kurtis{
    color: white;
    margin-left: 20px;
    font-weight: 500;
}
.price{
    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: black;
    color: white;
    width: 105px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
 
    
}
.fcard{
    display: flex;
    justify-content: space-between;
}

.buy img{
    width: 130px;
}

@media (max-width:380px) {
    .price{
        width: 56px;
        height: 25px;
        font-size: 0.8rem;
    }
    .buy img{
        width: 85px;
        margin-left: 1px;
    }
    .p-2{
        padding: 1px;
    }

}
@media (max-width:415px) and (min-width:390px) {
    .price{
        width: 74px;
        height: 25px;
        font-size: 0.9rem;
    }
    .buy img{
        width: 95px;
        margin-left: 2px;
    }
    .p-2{
        padding: 1px;
    }

}
@media (max-width:760px) and (min-width:420px) {
    .price{
        width: 74px;
        height: 25px;
        font-size: 0.9rem;
    }
    .buy img{
        width: 105px;
        margin-left: 5px;
        
    }
    .p-2{
        padding: 1px;
        
    }

}
@media (max-width:1025px) and (min-width:765px) {
    .price{
        width: 42px;
        height: 26px;
        font-size: 0.7rem;
    }
    .buy img{
        width: 82px;
        
    }
    .p-2{
        padding: 1px;
    }

}

   
    
    
